:root {
    --dark: #092C47;
    --light: rgb(100, 214, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f8ff;
}

header {
    padding: 15px;
    background-color: var(--dark);
}

header h1 {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    float: right;
    padding-top: 10px;
}

header nav ul li {
    display: inline-block;
    color: var(--dark);
}

header nav ul li:hover {
    background-color: var(--light);
}

a.navbar {
    color: var(--light);
}

a.navbar:hover {
    color: var(--dark);
}

#cover-photo {
    border: 3px blue solid;
    min-height: 200px;
    max-height: 200px;

    background-image: url("./Module-2-Challenge-Portolfio-by-Sangki-Jun/assets/images/cover-image.jpg");
    background-size: cover;

    margin-bottom: 5px;
}

section h3 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: var(--dark) 3px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.content {
    flex: 0 0 75%;
}

.list {
    list-style: none;
}

footer {
    text-align: center;
}