:root {
    --dark: #092C47;
    --light: rgb(100, 214, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f8ff;
}

header {
    padding: 15px;
    background-color: var(--dark);
}

header h1 {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    float: right;
    padding-top: 10px;
}

header nav ul li {
    display: inline-block;
    color: var(--dark);
}

header nav ul li:hover {
    background-color: var(--light);
}

a.navbar {
    color: var(--light);
}

a.navbar:hover {
    color: var(--dark);
}

#cover-photo {
    height: 200px;
    background-image: url("../../assets/images/cover-image.jpg");
    background-size: cover;
}

#cover-photo h2 {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
    margin-top: 140px;
    
}

.body {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.body h3 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: var(--dark) 3px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.content {
    flex: 0 0 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content ul li {
    display: inline;
    padding: 20px;
}

#surf-report{
    height: 300px;
    width: 1000px;
    border: var(--light) 3px solid;
    margin-bottom: 20px;
    background-image: url("../../assets/images/SURF-report.jpg");
    background-size: cover;
}

#led-wall {
    height: 150px;
    width: 500px;
    border: var(--light) 3px solid;
    margin-bottom: 20px;
    background-image: url("../../assets/images/led-wall.jpg");
    background-size: cover;
}

#calculator {
    height: 150px;
    width: 500px;
    border: var(--light) 3px solid;
    margin-bottom: 20px;
    background-image: url("../../assets/images/calculator.jpg");
    background-size: cover;
}

#pastel-puzzles {
    height: 150px;
    width: 500px;
    border: var(--light) 3px solid;
    margin-bottom: 20px;
    background-image: url("../../assets/images/pastel-puzzles.jpg");
    background-size: cover;
}

#run-buddy {
    height: 150px;
    width: 500px;
    border: var(--light) 3px solid;
    margin-bottom: 20px;
    background-image: url("../../assets/images/run-buddy.jpg");
    background-size: cover;
}

a.contacts {
    color: var(--dark)
}

a.contacts:hover {
    background-color: var(--light);
}

.list {
    list-style: none;
}

footer {
    text-align: center;
}