:root {
    --dark: #092C47;
    --light: rgb(100, 214, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f8ff;
}

header {
    padding: 15px;
    background-color: var(--dark);
}

header h1 {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    float: right;
    padding-top: 10px;
}

header nav ul li {
    display: inline-block;
    color: var(--dark);
}

header nav ul li:hover {
    background-color: var(--light);
}

a {
    color: var(--light);
}

a:hover {
    color: var(--dark);
}

.cover-photo {
    height: 300px;
    width: 100%;
    object-fit:cover;
    position: relative;
}

#cool-subtitle {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: var(--light);
    color: var(--dark);
}

.float-left {
     text-align: left;
}

.float-right {
    text-align: right;
}